# BigQuery commands

In [1]:
#import the python package for BigQuery
from google.cloud import bigquery

In [3]:
#create bigquery client
client = bigquery.Client()

Using Kaggle's public dataset BigQuery integration.

Dataset in use is : [Hacker News](http://https://news.ycombinator.com/)

In BigQuery, each dataset is contained in a corresponding project. In this case, our hacker_news dataset is contained in the bigquery-public-data project.

In [4]:
#Reference to hacker news dataset.
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

#fecth the dataset
dataset = client.get_dataset(dataset_ref)

Every dataset is just a collection of tables. You can think of a dataset as a spreadsheet file containing multiple tables, all composed of rows and columns.

We use the **list_tables()** method to list the tables in the dataset.

In [5]:
#list all the tables in "hacker_news" dataset
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

Fetch the "full" table in the "hacker_news" dataset.

In [6]:
# ref to full table
table_ref = dataset_ref.table("full")

#fetch the table
table = client.get_table(table_ref)

# Table schema
The structure of a table is called its schema. Let's check the *full* table schema.

In [7]:
#print information of all the columns in the table.
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

In [10]:
# check out first 5 rows of "full" table
rows = client.list_rows(table, max_results=5)
rows

In [11]:
rows.to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,I wonder if Dropbox is an outlier.<p>Their pro...,None,dangus,NaN,1605730036,2020-11-18 20:07:16+00:00,comment,25141771,25140258,NaN,NaN,None
1,None,None,Exactly. I for one don't have a photographic m...,None,kmfrk,NaN,1356257558,2012-12-23 10:12:38+00:00,comment,4959131,4958777,NaN,NaN,None
2,None,None,Right. Why?,None,tptacek,NaN,1505140357,2017-09-11 14:32:37+00:00,comment,15218774,15218759,NaN,NaN,None
3,None,None,like a gold iwatch?,None,tonkworks,NaN,1505140372,2017-09-11 14:32:52+00:00,comment,15218775,15217908,NaN,NaN,None
4,None,None,An opposing data point: I can&#x27;t recall th...,None,falcolas,NaN,1505140410,2017-09-11 14:33:30+00:00,comment,15218776,15218427,NaN,NaN,None

In [12]:
# preview first five entries in the "by" column:

client.list_rows(table,selected_fields=table.schema[4:5], max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  This is separate from the ipykernel package so we can avoid doing imports until

          by
0     dangus
1      kmfrk
2    tptacek
3  tonkworks
4   falcolas